body{
  background: #DCDDDF url(bg.png);
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.container{
  margin: 25px auto;
  width: 900px;
  position: relative;
}
#content{
  position: relative;
  width: 400px;
  height: 350px;
  margin: 0 auto;
  padding: 25px 0 0;
  background: #f9f9f9;
  text-align: center;
  box-shadow: 0 1px 0 #fff inset;
  padding: 25px 0 0;
  border:1px solid #c4c6ca;
}
#content:before,
#content:after{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  border:1px solid #c4c6ca;
  box-shadow: 0 1px 0 #fff inset;
  left:-1px;
  top: 0;
}
#content:before{
  transform:rotate(2deg);
  z-index:-1;
}
#content:after{
  transform:rotate(-3deg);
  z-index: -2;
}
#content h1{
  font-family: sans-serif,Arial;
  font-size: 25px;
  color: grey;
  font-weight: bold;
  letter-spacing: -0.05em;
}
#content h1:before,
#content h1:after{
    content: "";
    background: gray;
    height: 1px;
    position: absolute;
    width: 20%;
    margin: 32px;
    top: 27px;
}
#content h1:before{
  left: 0;
}
#content h1:after{
  right: 0;
}
.wrapper{
  width: 300px;
  height: 45px;
  background: #eae7e7;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  box-shadow: inset 0 0 8px #000000;
}
.wrapper input{
  width: 250px;
  height: 45px;
  background: transparent;
  border:0px;
  outline: none;
  font-size: 16px;
  font-family: sans-serif,Arial;
  color: #333;

}
.wrapper .fa{
  font-size: 20px;
  color: #808080;
}
input[type="submit"]{
  width: 150px;
  height: 40px;
  border-radius: 40px;
  border: 0px;
  outline: none;
  background: rgb(254,231,154);
  background: -webkit-linear-gradient(top, rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
  box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
  cursor: pointer;
  color: #85592e;
  font-family: sans-serif,Arial;
  font-size:16px;
  font-weight: bold;
  margin-top: 25px;
}
input[type="submit"]:hover{
  background: -webkit-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
}
a{
  text-decoration: none;
  font-family: sans-serif,Arial;
  border-left: -0.05em;
  font-size:12px;
  color:#333;
  margin:25px;
}
a:hover{
  color: gray;
}